
.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    border: 2px solid rgb(255, 106, 0);
    
   
}
div .header a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 30px;
   
}
div .header a:hover{
    color: coral !important;
}
   

@media screen and (max-width: 668px) {
    .header {
      flex-direction: column;
      align-items: center;
      margin: 0;
      width: 100%;
    }
    
       
}